﻿/*----------------------------------------------------------
 * Created: 17.10.2014
 * Update for Flask: 11.11.2021
 * Author: AntiqueCZ
 * E-mail: AntiqueCZ@gmail.com
 * Definice CSS stylů pro WebControl Stepper Motor Driver
-----------------------------------------------------------*/

body {
  margin:0px; 
  padding:0px;
  background-color: #DDDDDD;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: underline;
}

.main  {
  font-family: "Cambria","Times","serif";
  color: black;
  width: 750px;
  height: 100%;
	margin-left: auto;
	margin-right: auto;
  background-image: url("back4a.gif");
	}

table {
  margin-bottom: 50px;
}

table, th {
  border: 1px solid #002a6d;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-image: url("back2.gif");
}

table tr:nth-child(odd) {
  background-image: url("back2a.gif");
}

table tr:nth-child(1) {
  background-image: url("back1.gif");
}

table.act th,table.sett th	{
  color: #EEE8AA;
  font-size: 1em;  
  padding: 8px;
  text-shadow: 2px 2px 4px black;
  cursor: default;
}



table.act tr, table.sett tr	{
  cursor: pointer;
  cursor: hand;
}



td {
  padding: 8px;  
}

h2 {
  color: #002a6d;
  font-style: oblique;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  text-shadow: 2px 2px 4px #EEE8AA;
}

h3 {
  color: black;
  font-style: oblique;
  text-decoration: underline;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 25px;
  text-align: left;
  margin: 0px;
}


p {
	text-align: left;
  padding: 0px 25px;
  margin: 0px 25px;
}

button {
  font-family: "Calibri","sans-serif";
  font-weight: bold;
  font-size: large;
  color: black;
  margin: 5px 12px 5px 0px;
  padding: 0px 10px;
}


button:hover {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.24);
}

#zahlavi {
  width:100%;
  height: 60px; 
  padding: 15px 0 0;
  text-align: center;
  font-size: 2em; 
  font-weight: bold;
  color: black;
  background-image: url("back6.gif");
  text-shadow: 2px 2px 4px #EEE8AA;
}

#zapati {
  width: 700px;
  height: 20px; 
  padding: 4px;
  font-size: 0.7em;
  text-align: right; 
  font-weight: lighter;
  color: #002a6d;
  background: none;
  position: absolute;
  bottom: 0px;
}

/* IFRAME tabulka s aktuálními hodnotami teplot */
#actual {
  width: 750px;
  height: 480px;
  overflow: hidden; 
  border: 0px; 
  margin: 0px; 
}

/* IFRAME Google graf s teplotním profilem      */
/* pro daný den a danou místnost                */
#graf {
  width: 700px;
  height: 300px;
  overflow: hidden; 
  border: 0px; 
  margin: 0px;
	padding: 0px 25px; 
}

form {
  padding: 10px 25px
}

#tpExt {
  color: black;
  font-size: 1.2em;  
  text-shadow: 1px 1px 2px #606060;
  cursor: default;
}
