{% extends "base.html" %}


{% block content %}

<form method="POST" action="{{ url_for('index') }}">
    <input type="hidden" name="setup" value="False">

    <!-- OVLÁDÁNÍ DRIVERU -->
    <h3>Ovládání driveru TB6600 <span style="color: #CC0000;">{% if motor.state %}Enable{% else %}Disable{% endif %}</span></h3>
    <button type="submit" name="motor" value="OFF">Disable Driver</button>
    <button type="submit" name="motor" value="ON">Enable Driver</button>

    <!-- SMĚR OTÁČENÍ MOTORU -->
    <h3>Aktuální směr otáčení: <span style="color: #CC0000;">{% if motor.direction %}True{% else %}False{% endif %}</span></h3>
    <button type="submit" name="motor" value="True">True</button>
    <button type="submit" name="motor" value="False">False</button>


    <!-- NASTAVENÍ RYCHLOSTI OTÁČENÍ -->
    <h3>Rychlost otáčení (ot./min.): <span style="color: #CC0000;">{{ motor.omega }}</span></h3>
    <button type="submit" name="motor" value="w0">{{motor.w[0]}}</button>
    <button type="submit" name="motor" value="w1">{{motor.w[1]}}</button>
    <button type="submit" name="motor" value="w2">{{motor.w[2]}}</button>
    <button type="submit" name="motor" value="w3">{{motor.w[3]}}</button>
    <button type="submit" name="motor" value="w4">{{motor.w[4]}}</button>

    <!-- MANUÁLNÍ OVLÁDÁNÍ MOTORU -->
    <h3>Ovládání motoru <span style="color: #CC0000;">{% if motor.state %}ON{% else %}OFF{% endif %}</span></h3>
    <input type="text" name="wx" style="width: 60px;" value="{{ motor.omega }}"> ot./min. 
    <button type="submit" name="motor" value="run">RUN</button>
    <button type="submit" name="motor" value="stop">STOP</button></br>

    <button type="submit" name="motor" value="n0">n = {{motor.n[0]}}</button>    
    <button type="submit" name="motor" value="n1">n = {{motor.n[1]}}</button>
    <button type="submit" name="motor" value="n2">n = {{motor.n[2]}}</button>
    <button type="submit" name="motor" value="n3">n = {{motor.n[3]}}</button>
    <button type="submit" name="motor" value="n4">n = {{motor.n[4]}}</button>


    </br>
    </br>
    </br>
    <!-- SETUP -->
    <h3><a href="{{ url_for('setup') }}">Nastavení rychlostí otáčení</a></h3>
    <h3><a href="{{ url_for('upg') }}">Upgrade RPi Zero W</a></h3>
    
</form>
{% endblock %}