{% extends "base.html" %}


{% block content %}

<h2 style="padding-top: 15px;">Nastavení řízení krokového motoru</h2>

<h3>Přednastavené paarametry řízení motoru</h3>
<form method="POST" action="{{ url_for('index') }}">
<input type="hidden" name="setup" value="True">


Počet otáček hřídele motoru 1 - <input type="text" name="n0" value="{{ motor.n[0] }}" size="6"> ot./min.</br>
Počet otáček hřídele motoru 2 - <input type="text" name="n1" value="{{ motor.n[1] }}" size="6"> ot./min.</br>
Počet otáček hřídele motoru 3 - <input type="text" name="n2" value="{{ motor.n[2] }}" size="6"> ot./min.</br>
Počet otáček hřídele motoru 4 - <input type="text" name="n3" value="{{ motor.n[3] }}" size="6"> ot./min.</br>
Počet otáček hřídele motoru 5 - <input type="text" name="n4" value="{{ motor.n[4] }}" size="6"> ot./min.</br>
</br>
</br>
Rychlost otáčení hřídele motoru 1 - <input type="text" name="w0" value="{{ motor.w[0] }}" size="6"> ot./min.</br>
Rychlost otáčení hřídele motoru 2 - <input type="text" name="w1" value="{{ motor.w[1] }}" size="6"> ot./min.</br>
Rychlost otáčení hřídele motoru 3 - <input type="text" name="w2" value="{{ motor.w[2] }}" size="6"> ot./min.</br>
Rychlost otáčení hřídele motoru 4 - <input type="text" name="w3" value="{{ motor.w[3] }}" size="6"> ot./min.</br>
Rychlost otáčení hřídele motoru 5 - <input type="text" name="w4" value="{{ motor.w[4] }}" size="6"> ot./min.</br>

<button type="submit" name="save" value="True">Uložit</button>
<button type="submit" name="save" value="False">Cancel</button>
</form>
    

{% endblock %}