{% extends "base.html" %}

{% block content %}

<!-- Upgrade z repizitáře GIT -->
<h2 style="padding-top: 15px;">Upgrade kódů Raspberry Zero W</h2>

<form method="POST">
    <input type="hidden" name="RPi" value="True">
    <input type="submit" value="Upgrade RPi!!!">
</form>


{% endblock %}